:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height:100%;
}
#radio {
  overflow-y:visible;
}
li {
  list-style-type: none;
  padding-top:10px;
  padding-bottom:10px;
  overflow:visible;
}
li:hover {
  background-color: #e3e2e2;
}
.player-buttons button {
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
  button {
    background-color: #2f2f2f;
  }
  button:hover {
    background-color: #282828;
  }
  li:hover {
    background-color: #282828;
  }
  .player-buttons button {
     background-color: #2f2f2f;
   }
}


@media only screen and (orientation: portrait) {
  .album-art {
    bottom: 20%;
    margin-top: 2.5%;
    text-align:center;
  }
  .album-art img {
    width: 90vw;
    border-radius: 15px;
  }
  .spacer {
    width: 20vh;
  }
  .cov {
    justify-self: center;
  }
  .song-info {
    margin-left:5%;
  }
  .controls {
    position: relative;
    width: 98%;
    margin-top: 5%;
  }
  li {
    margin-right: 20px;
  }
  button {
    background-color: #f6f6f6;
  }
  button:hover {
    background-color: #f6f6f6;
  }
}
@media only screen and (orientation: landscape) {
  .album-art {
    bottom: 20%;
    margin-top: 2.5%;
    margin-right:20vh;
  }
  .album-art img {
    width: 60vh;
    border-radius: 15px;
    margin-left: 1%;
  }
  .controls {
    position: relative;
    width: 98%;
    margin-top:5vh;
  }
  .song-info {
    margin-left:1%;
  }
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  bottom: 10px;
}

#prevbutton {
  transform : rotate(180deg);
}
.buttons {
  width:48px;
}

.menbut {
  border-radius: 100%;
}
.progress-bar {
  width: 100%;
  cursor: pointer;
}
