.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #2f5d90);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height:100%;
}
#radio {
  overflow-y:visible;
}
li {
  list-style-type: none;
  padding-top:10px;
  padding-bottom:10px;
  overflow:visible;
}
li:hover {
  background-color: #e3e2e2;

}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}




button {
  cursor: pointer;
}



#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }
  button {
    background-color: #2f2f2f;
  }
  button:hover {
    background-color: #282828;
  }
  li:hover {
    background-color: #282828;
  }

}
/*
.music_player {
  position: absolute;
  bottom:40px;
  height: 100%;
}
*/
.music-player-container {
  display: flex;
  flex-direction: row;
  background: #292929;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 200%;
}

@media only screen and (orientation: portrait) {
  .album-art {
    bottom: 20%;
    margin-top: 2.5%;
    text-align:center;
  }
  .album-art img {
    width: 60vh;
    border-radius: 15px;
  }
  .spacer {
    width: 20vh;
  }
  .cov {
    justify-self: center;
  }
  .song-info {
    margin-left:5%;
  }
  .controls {
    position: relative;
    width: 98%;
    margin-top: 5%;
  }
  li {
    margin-right: 20px;
  }
}
@media only screen and (orientation: landscape) {
  .album-art {
    bottom: 20%;
    margin-top: 2.5%;
    margin-right:20vh;
  }
  .album-art img {
    width: 60vh;
    border-radius: 15px;
    margin-left: 1%;
  }
  .controls {
    position: relative;
    width: 98%;
    margin-top:5vh;
  }
  .song-info {
    margin-left:1%;
  }
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.artist {
  font-size: 18px;
  /*color: #aaa;*/
  margin-top: 5px;
}


.player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  bottom: 10px;
}
#menu {
  align-items: right;
}
.player-buttons button {
 /* background-color: #61dafb;
  color: black;*/
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
#prevbutton {
  transform : rotate(180deg);
}
.buttons {
  width:48px;
}

.menbut {
  border-radius: 100%;
}
.progress-bar {
  width: 100%;
  cursor: pointer;
}
/*
#area {
  height: 200%;
}
*/